@model int
<div class="row p-3">
    <img alt="bms-logo" src="~/image/bms_title.svg" />
</div>
<div>
    <h1 class="text-primary display-1">This is amazing!</h1>
    <h3 class="text-dark">Your booking request was placed successfully and payment is received in gateway console.</h3>
    <h6 class="text-dark">
        You are about to experience an exceptional journey towards your stay with us.
        <br />
        Once the payment is realised, you should receive the booking details in a separate e-mail.
    </h6>
</div>