@model ListingDTO

<form method="post">
    <input asp-for="ListingId" hidden />

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 p-3">

                @if (Model.ListingId != 0)
                {
                    <div class="card-header bg-dark">
                        <h3 class="card-title link-light">@(Model.Name)</h3>
                    </div>
                    <div class="card">
                        <img src="@(Model.ImageUrl)" class="card-img-top" alt="@(Model.Name)">
                        <div class="card-body">
                            <h5 class="card-text text_fixed">@(Model.Description)</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-4"><label asp-for="BookingDays">Booking For (Days)</label></div>
                        <div class="col-4"><input asp-for="BookingDays" class="form-control" placeholder="BookingDays"></div>
                        <div class="col">
                            <div class="has-validation mt-2">
                                <span asp-validation-for="BookingDays" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark">
                        <div class="row">
                            <div class="col link-warning">
                                <i class="bi bi-backpack4"></i>&nbsp; $@Model.ListingPrice Per Day<br />Government Taxes Extra*
                            </div>
                            <div class="col text-end">
                                <button type="submit" class="btn btn-lg btn-success" asp-controller="Home" asp-action="Detail">
                                    <i class="bi bi-person-check-fill"></i>&nbsp;Book Now
                                </button>
                                @* <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="DetailUpdate">
                                    <i class="bi bi-cart"></i> Book Now
                                </a> *@
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}