@model OfferDTO
<h3>Manage Offer</h3>

<form method="post">
    <div class="row">
        <div class="col-6">
            <div class="border p-3 mt-3  has-validation">
                <input asp-for="OfferId" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="OfferCode" class="form-control" placeholder="">
                    <label asp-for="OfferCode">Offer Code</label>
                    <div class="has-validation mt-2">
                        <span asp-validation-for="OfferCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating">
                    <input asp-for="OfferDetail" class="form-control" placeholder="">
                    <label asp-for="OfferDetail">Offer Detail</label>
                    <div class="has-validation mt-2">
                        <span asp-validation-for="OfferDetail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-floating">
                    <input asp-for="OfferDiscountPerc" class="form-control" placeholder="">
                    <label asp-for="OfferDiscountPerc">Discount (%)</label>
                    <div class="has-validation mt-2">
                        <span asp-validation-for="OfferDiscountPerc" class="text-danger"></span>
                    </div>
                </div>
                <div class="row p-3 mt-3">
                    <div class="p-3 border bg-light text-end">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-save"></i>&nbsp;@(Model.OfferId == 0 ? "Create" : "Update")
                        </button>
                        <a asp-controller="Offer" asp-action="Index" class="btn btn-outline-dark">
                            <i class="bi bi-arrow-left-short"></i>&nbsp;Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-3">
            
        </div>
    </div>
</form>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}